body {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 980px;
    margin: 0 auto;
}

.header {
    height: 140px;
    margin-bottom: 15px;
    background-color: #0d7963;
}

.content {
    width: 690px;
    height: 450px;
    background-color: #0d7963;
    float: left;
}

.sidebar {
    width: 275px;
    height: 450px;
    background-color: #0d7963;
    float: right;
}

.clear {
    clear: both;
}

.footer {
    height: 70px;
    margin-top: 15px;
    background-color: #0d7963;
}